.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e; /* dark card background */
  border-radius: 10px;
  padding: 2em;
  min-height: 50vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e; /* dark card background */
  border-radius: 10px;
  padding: 2em;
  min-height: 80vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

h1 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

form#login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
}

.input-group label {
  margin-bottom: 0.3em;
  font-weight: 500;
  color: #dddddd;
  margin-left: 0.4em;
}

.input-group input {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 1em;
}

.input-group input::placeholder {
  color: #aaa;
}

#passwordForgot {
  margin: 0.5em 0;
  font-size: 0.9em;
  color: #6ab0ff;
  text-decoration: none;
  align-self: flex-end;
}

#passwordForgot:hover {
  text-decoration: underline;
}

button {
  margin-top: 0.7em;
  padding: 0.6em 1.2em;
  border: none;
  background-color: #3c3c3c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
}

button:hover {
  background-color: #555;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #2c2c2c inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 2.5em; /* space for the eye icon */
}

.toggle-eye {
  position: absolute;
  right: 0.8em;
  cursor: pointer;
  font-size: 1.2em;
  color: #aaa;
  user-select: none;
}

.toggle-eye:hover {
  color: #fff;
}
